# Ignore data outputs

# Ignore Windows Zone Identifier files
*Zone.Identifier
*:*Zone.Identifier

# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
